.rectangle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 33vh;
    background-color: #fd4140;
    border: solid 1px #121621;
    color: #121621;
    margin: auto;
  }
  
  mwlResizable {
    box-sizing: border-box !important;
  }
  
  .resize-handle-top,
  .resize-handle-bottom {
    position: absolute;
    height: 5px;
    cursor: row-resize;
    width: 100%;
  }
  
  .resize-handle-top {
    top: 0;
  }
  
  .resize-handle-bottom {
    bottom: 0;
  }
  